.constestList {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    font-size: 12px;
    width: 100%;
    .shortInfo {
        padding: 20px;
    }
}
.constestBlock {
    width: 355px;
    height: 268px;
    box-shadow: 0px 2px 19px rgb(229, 229, 229);
    margin: 20px;
    img.topImage {
        width: 100%;
        cursor:pointer;
    }
    h2 {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
        color: #35343d;
        cursor:pointer;
    }
    .info {
        display: flex;
        justify-content: space-between;
        margin-top: 18px;
        font-size: 14px;
        line-height: 1.21;
        color: #35343d;
    }
    .briefDesc {
        font-size: 14px;
        color: #666666;
        line-height: 1.5;
    }
    .timer {
        line-height: 24px;
        img {
            margin-right: 4px;
        }
    }
}
