.header {
    //background: url("/img/contestHeader.png") no-repeat left top;
    //background-size: cover;
    width: 100%;
    height: 295px;
    img {
        width: 100%;
    }
}
.switcher {
    text-align: center;
    button {
        $borderRadius: 6px;
        background: #fff;
        border: 1px solid #383B41;
        height: 25px;
        width: 175px;
        cursor: pointer;
        &.briefButton {
            border-radius: 0 $borderRadius $borderRadius 0;
        }
        &.leaderboardButton {
            border-radius: $borderRadius 0 0 $borderRadius;
        }
        &.active {
            background: #383B41;
            color: #fff;
        }
        &:focus{
            outline:none;

        }
    }
}
.contest {
    padding-top: 40px;
}
.contestContent {
    padding-top: 40px;
}
.brief {
    margin: 0 auto;
    width: 50%;
}
.boardItems {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.member {
    margin: 10px 23px;

    .photo {
        border-radius: 5px;
        overflow: hidden;
        width: 130px;
        height: 130px;
        img {
            width: 100%;
        }
        .number {
            width: 45px;
            height: 45px;
            line-height: 42px;
            border: solid 3px #ffffff;
            background-color: #00bee4;
            font-family: SourceSansPro, Arial, sans-serif;
            font-size: 21px;
            font-weight: bold;
            border-radius: 50%;
            position: absolute;
            margin-left: -17px;
            margin-top: -17px;
            color: #fff;
            text-align: center;
        }
    }

}
